.landingNavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100vw;
  background-color: #282828;
  border-bottom: 3px solid #333333;
  position: absolute;
  top: 0;
}

.landingNavbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:inherit;
  text-decoration: none;
}